[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
clip = {git = "https://github.com/openai/CLIP.git"}
torch = "*"
faiss = "*"

[dev-packages]

[requires]
python_version = "3.12"
