[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
clip = {git = "https://github.com/openai/CLIP.git"}
faiss-cpu = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-ml = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
